.CurrentUser {
	padding-top: 0;
	letter-spacing: 0.4px;

	&__head {
		width: 100%;
		height: 230px;
		background-size: cover;
		background-image: url(../../assets/images/profile_bg.png);

		&-avatar {
			width: 145px;
			height: 145px;	
			margin: 0 auto;
			border-radius: 50%;
			border: 4px solid #fff;
			background-color: #363740;
			background-image: url(../../assets/images/200.png);
	
			transform: translateY(100%);
		}
	}

	&__name {
		text-align: center;
		font-size: 36px;
		line-height: 45px;
		margin-top: 65px;
	}

	&__phrase {
		text-align: center;
		font-weight: 700;
		font-size: 24px;
		line-height: 30px;
		color: #797A84;
	}

	&__info {
		padding: 24px 53px;

		&-title{
			margin-bottom: 14px;
			font-weight: 700;
			font-size: 36px;
			line-height: 45px;
			color: #000;
		}

		&-description{
			font-weight: 500;
			font-size: 16px;
			line-height: 20px;
		}
	}
}
