.Users {

	&__title {
		font-weight: 700;
		font-size: 19px;
		line-height: 24px;
		letter-spacing: 0.4px;
		padding: 0 32px 26px;
	}

	&__column {
		display: flex;
		align-items: center;
		font-weight: 600;
		line-height: 20px;
		color: #252733;

		&--headers {
			padding: 12px 32px;
			font-weight: 700;
			line-height: 18px;
			color: #9FA2B4;
		}

		&-item:first-child {
			width: 35%;
			display: flex;
			align-items: center;
		}

		&-item:first-child img {
			width: 45px;
			height: 45px;
			margin-right: 25px;
			border-radius: 50%;
		}

		&-item:nth-child(2n){
			width: 25%;
		}

		&-item:nth-child(3n){
			width: 30%;
		}

		&-item:last-child {
			width: 10%;
		}

		&-item:last-child span {
			color: #fff;
			padding: 5px 12px;
			border-radius: 100px;
			font-weight: 700;
			font-size: 11px;
			line-height: 14px;
			letter-spacing: 0.5px;
			text-transform: uppercase;
		}

		&-description {
			margin-top: 4px;
			font-weight: 400;
			font-size: 12px;
			line-height: 16px;
			letter-spacing: 0.1px;
			color: #C5C7CD;
		}
	}

	&__list {
	}

	&__link {
		display: block;
		border-top: 1.5px solid #DFE0EB;
		padding: 26px 32px;

		&:hover {
			background-color: #f4f6fd;
		}
	}
}

.high {
	background: #F12B2C;
}
