.TasksPanel {
	margin: 0 30px;
	display: flex;
	flex-grow: 1;
	justify-content: space-between;
	gap: 30px;

	&__block{
		width: 50%;
		height: max-content;
		margin: 0 0 100px;
		padding: 32px 0 0;

		&-title, 
		&-item, 
		&-item label {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&-title, &-description {
			padding: 0 32px;
		}

		&-description {
			margin-top: 8px;

			& span {
				color: #9FA2B4;
			}
		}

		&-list {
			margin-top: 18px;
		}

		&-item {
			padding: 18px 32px;

			& input {
				display: block;
			}

			& label {
				display: flex;
				gap: 16px;
				cursor: pointer;
			}

			&:not(:last-child) {
				border-bottom: 1px solid #DFE0EB;
			}

			& span {
				color: #9FA2B4;

				&.ticket-status {
					font-size: 11px;
					color: #fff;
				}

				&.default {
					color: #9FA2B4;
				}
			}

			& button {
				outline: none;
				background: #F0F1F7;
				border-radius: 8px;
				color: #9FA2B4;
				font-weight: 400;
				font-size: 18px;
				border: none;
				cursor: pointer;
			}
		}
	}
}

.ticket-status {
	letter-spacing: 0.5px;
	text-transform: uppercase;
	padding: 3px 10px;
	border-radius: 8px;
	color: #fff;
}

.default {
	background: #F0F1F7;
}

.urgent {
	background: #FEC400;
}

.new {
	background: #29CC97;
}

.grey {
	color: #9FA2B4;
}
