.App {

	&__navigation{
		position: fixed;
		left: 0;
		top: 0;
		bottom: 0;
		width: 25%;
		background: #363740;
	}

	&__content {
		position: absolute;
		right: 0;
		width: 75%;
		padding-bottom: 230px;
	}
}
