@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* {
	box-sizing: border-box;
}

html {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #252733;
	background-color: #f4f6fd;
}

body {
	margin: 0;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.container {
	border: 1px solid #DFE0EB;
	border-radius: 8px;
	background-color: #fff;

	margin: 40px 30px 30px;
	padding-top: 32px;
}
