@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* {
	box-sizing: border-box;
	transition: all 0.2s ease;
}

html {
	font-family: 'Mulish', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.2px;
	color: #252733;
	background-color: #f4f6fd;
}

body,
h1,
h2,
h3,
h4,
p,
input,
ul {
	margin: 0;
}

a {
	text-decoration: none;
	color: #3851FF;
}

ul {
	list-style-type: none;
	padding: 0;
}

svg {
	margin: 0 auto;
}

.container {
	border: 1px solid #DFE0EB;
	border-radius: 8px;
	background-color: #fff;
	margin: 40px 30px;
	padding-top: 32px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;   
  -khtml-user-select: none;   
  -moz-user-select: none;  
  -ms-user-select: none;       
  user-select: none;        
}

.text-overlay {
	text-shadow: 
		-0   -1px 0   #000000,
		 0   -1px 0   #000000,
		-0    1px 0   #000000,
		 0    1px 0   #000000,
		-1px -0   0   #000000,
		 1px -0   0   #000000,
		-1px  0   0   #000000,
		 1px  0   0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000,
		-1px -1px 0   #000000,
		 1px -1px 0   #000000,
		-1px  1px 0   #000000,
		 1px  1px 0   #000000;
}
